<div>
  <mat-card>
    <mat-card-title>Change Facility</mat-card-title>
    <form [formGroup]="angForm" (ngSubmit)="onSubmit(angForm.value)">

      <mat-form-field class="example-full-width">
        <mat-label>FacilityID</mat-label>
        <input formControlName="facilityId" matInput placeholder="facilityId">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>DivisionID</mat-label>
        <input formControlName="divisionId" type="password" matInput placeholder="divisionId">
      </mat-form-field>
      <mat-card-actions class="example-action-button">
        <button mat-raised-button color="primary">Change Store</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
