<!--The content below is only a placeholder and can be replaced.-->
<mat-drawer-container autosize>

  <mat-toolbar color="primary">
    <mat-toolbar-row class="example-toolbar">
      <img src="../assets/sunrise-logo.png"
           style="max-width:    10%; min-width: 10%;"/>
      <mat-tooltip-component>
      </mat-tooltip-component>
      <span> {{ title }} </span>
    </mat-toolbar-row>
  </mat-toolbar>


  <mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <!--      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>-->
      <!--      <button (click)="showFiller = !showFiller" mat-raised-button>-->
      <!--        Toggle extra text-->
      <!--      </button>-->
      <mat-drawer-container>
        <app-changestorecomp></app-changestorecomp>
      </mat-drawer-container>
    </mat-drawer>

    <div class="example-sidenav-content">
      <button type="button" mat-raised-button (click)="drawer.toggle()" color=accent>
        Change Store
      </button>
      <mat-drawer-container>
        <app-camera-status-comp></app-camera-status-comp>
      </mat-drawer-container>
    </div>

  </mat-drawer-container>

</mat-drawer-container>
<router-outlet></router-outlet>
