
.example-card{
  align-items: center;
  align-content: center;

}

.example-full-width{
  display: flex;
  align-content: center;
  align-items: center;
  position:  relative;
}

.example-pannel {
  padding-left: auto;
  padding-right: auto;
  align-items: center;
  position: center;
  align-content: center;
}
